@media print {
    .container {
        background-color: white;
        height: 100%;
        width: 100%;
        position: fixed;
        top: 0;
        left: 0;
        margin: 0;
        padding: 11px;
        font-size: 12px;
        line-height: 18px;
    }
    .no-print,
    .no-print * {
        display: none !important;
    }
    @page {
        size: auto;
        /* auto is the initial value */
        margin: 0;
        /* this affects the margin in the printer settings */
    }
}

.small.text {
    font-size: 0.75rem;
}

@media (min-height: 320px) {
    .ui.footer.form-page {
        /* Increased specificity for SO snippet priority */
        position: absolute;
        bottom: 0;
        width: 100%;
    }
}